{% extends "Main.html" %}

{% block title %}Врачи - {{ super() }}{% endblock %}
{% block content %}

<div class="service-detail">
    <div class="service-info">
        <h1>Отзывы наших пациентов</h1>
        <h3>Наши клиенты постоянно и с удовольствием делятся и своим хорошим опытом, и приятными эмоциями.</h3>
    </div>
    <div class="surgeon-container">
        <div class="vrach-razmer">
            <img src="{{ url_for('static', filename='images/review.jpg')}}"
                 width="250" height="275" alt="Отзыв">
        </div>
        <div class="vrach-razmer">
            <img src="{{ url_for('static', filename='images/review.jpg')}}"
                 width="250" height="275" alt="Отзыв">
        </div>
        <div class="vrach-razmer">
            <img src="{{ url_for('static', filename='images/review.jpg')}}"
                 width="250" height="275" alt="Отзыв">
        </div>

    </div>
    <div class="w-100">&#8203</div>
    <div align="center">
            <a href="{{ url_for('price', clinic_slug=current_clinic.slug) }}" class="btn btn-primary w-50">Оставить отзыв</a>
    </div>
    <div class="w-100">&#8203</div>
    <div align="center">
            <a href="{{ url_for('Make_appointment', clinic_slug=current_clinic.slug) }}" class="btn btn-primary w-50">Записаться на консультацию</a>
    </div>

</div>


{% endblock %}